<nav class="sidebar col m2 z-depth-1 valign-wrapper white">
	<ul class="valign">
		<li class="<%= state == 'review_posts' ? 'active' : '' %>">
			<a href="/admin/review_posts" class="black-text flow-text">Pending Posts</a>
		</li>
		<li class="<%= state == 'manage_points' ? 'active' : '' %>">
			<a href="/admin/manage_points" class="black-text flow-text">Activity Points</a>
		</li>
		<li class="spacer"></li>
	</ul>
</nav>