<nav class="sidebar col m2 z-depth-1 valign-wrapper white hide-on-med-and-down">
	<ul class="valign">
		<li class="<%= state == 'review_posts' ? 'active' : '' %>">
			<a href="/admin/review_posts" class="black-text side-nav-item">Pending Posts</a>
		</li>
		<li class="<%= state == 'manage_points' ? 'active' : '' %>">
			<a href="/admin/manage_points" class="black-text side-nav-item">Activity Points</a>
		</li>
		<li class="spacer"></li>
	</ul>
</nav>