@import "components/color";
@import "components/variables";
.preloader-section {
	position: fixed;
	margin-top: -10vh;
	height: 100vh;
	width: 100vw;
	z-index: 100000;
	background: $primary-color;
	.valign {
		width: auto;
		margin: auto;
	}
}
.loading-label {
	font-weight: 200;
	top: 30%;
	width: 100%;
	text-align: center;
}
.preloader-wrapper {
	width: auto;
	margin: auto;
}
.parallax-container {
	min-height: 100vh;
}
.parallax img {
    /*filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);*/
    height: 200vh;
}
.splash .container {
	margin-top: 20vh;
}
@media (min-width: 601px) {
  .splash .container {
  	margin-top: 30vh;
  }
}
.btn-wrapper {
	margin-top: 3px;
	padding: 3px;
	.btn {
		width: 100%;
	}
}
.section {
	min-height: 100vh;
}
#section-2 {
	.card-panel {
		margin: 10px;
		width: 100%;
		height: 100%;
	}
}
.parallax-divider {
	width: 100%;
	height: 2vh;
	background-color: $primary-color;
}

.bold {
	font-weight: 600;
}
.light {
	font-weight: 200;
}
p.flow-text {
	font-size: 1.3em;
}
.card-panel {
	opacity: 0.8;
}
@media (max-width: 600px) {
	#section-2 {
		height: auto;
		padding-bottom: 5vh;
	}
	.loading-label {
		top: 20%;
	}
}
