@import "components/color";
@import "components/variables";
html, body {
	position: relative;
	padding-bottom: 0;
	margin-bottom: 0;
}
.preloader-section {
	position: fixed;
	margin-top: -10vh;
	height: 100vh;
	width: 100vw;
	z-index: 100000;
	background: $primary-color;
	.valign {
		width: auto;
		margin: auto;
	}
}
.loading-label {
	font-weight: 200;
	top: 30%;
	width: 100%;
	text-align: center;
}
.preloader-wrapper {
	width: auto;
	margin: auto;
}
.parallax-container {
	min-height: 100vh;
}
.parallax img {
    /*filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);*/
    height: 200vh;
}
#section-splash .container {
	margin-top: 20vh;
}
@media (min-width: 601px) {
  #section-splash .container {
  	margin-top: 30vh;
  }
}
.btn-wrapper {
	margin-top: 3px;
	padding: 3px;
	.btn {
		width: 100%;
	}
}
.section {
	min-height: 100vh;
}
#section-2 {
	.card-panel {
		margin: 10px;
		width: 100%;
		height: 100%;
	}
}
.parallax-divider {
	width: 100%;
	height: 2vh;
	background-color: $primary-color;
}

.bold {
	font-weight: 600;
}
.light {
	font-weight: 200;
}
p.flow-text {
	font-size: 1.3em;
}
.card-panel {
	opacity: 0.8;
}
footer {
	position: relative;
}
@media (max-width: 600px) {
	#section-2 {
		height: auto;
		padding-bottom: 5vh;
	}
	.loading-label {
		top: 20%;
	}
	.parallax img {
		min-height: 100vh;
	}
	#section-splash {
		background-attachment: fixed;
		background-size: cover;
		background-position: top center;
		background-image: url("http://i.onionstatic.com/onion/5322/3/16x9/1600.jpg");
	}
	#section-about {
		background-attachment: fixed;
		background-size: cover;
		background-position: top center;
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2f/United_States_Capitol_-_west_front_tilt_correct.jpg");
	}
	#section-2 {
		background-attachment: fixed;
		background-size: cover;
		background-position: top center;
		background-image: url("http://www.gpb.org/sites/www.gpb.org/files/gettyimages-488231232_wide-7bffa1f85e43aa775aba3925125dfe1c1c560b13.jpg");
	}
}
