html {
  min-height: 100vh;
}

h1 {
	font-weight: 100;
	font-size: 3em;
}
h2 {
	font-weight: 100;
	font-size: 2.5em;
}
h3 {
	font-weight: 300;
	font-size: 2em;
}
/* navbar styles */
nav ul li {
	font-weight: 300;
}
.brand-logo {
	font-weight: 300;
}
/* blog styles */
.blog-post-link {
	.card {
		height: 30vh;
		.card-title {
			line-height: 1.15;
		}
	}
	.date {
		float: bottom;
	}
}
.add-post-button-wrapper {
	height: 30vh;
	.btn {
		width: 10%
	}
}

/* blog post styles */
.blog-post {
	width: 100%;
	padding: 40px;
	margin-bottom: -40px;
	margin-top: -20px;
	min-height: 80vh;
	.post-author {
		font-weight: 300;
		font-size: 1.3em;
	}
	@media screen and (max-width: 992) {
		padding: 20px;
	}
}

/* new blog post form styles */
#post-title-input {
	font-weight: 300;
	font-size: 3rem;
	line-height: 1.5;
}

/* admin portal styles */
.admin-wrapper {
	.sidebar {
		position: fixed;
		height: 100vh;
		padding: 0px;
		ul {
			width: 100%;
			padding: 0px;
			li, a {
				width: 100%;
				margin: 0px;
			}
			a {
				padding: 20px;
			}
			.spacer {
				padding: 30px;
			}
		}
		.event-link {
			.event-name {
				float: left;
			}
			.event-type {
				float: right;
			}
		}
	}
	.content-wrapper {
		padding: 40px;
	}

	#new-event-modal {

	}
}

/* footer styles */
footer {
	z-index: 1000;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
}