<% include ../partials/header %>
<div class="content-wrapper" id="about-wrapper">
	<div class="container">
		<h1>About MV<strong>JSA</strong></h1>
	  <p class="flow-text">We believe that the most pressing problem facing our democracy is a decline in the quality of civil discourse - brought on by a sensationalistic media that values personalities over issues, as well as a growing reliance on social media for political information. It’s our hope that, as a JSA member, you can help begin to reverse this trend...starting at MV. Rants aside though, we’re extremely excited to continue building our community both through new aspects, like conferences, an online platform for members to share opinion pieces, and a school-wide mock election. At the same time, we’ll continue our emphasis on understanding multiple perspectives on different issues through thought-provoking discussions and debates. Here’s to a great year!</p>
	  <h2>Officers</h2>
	  <div class="row">
	  	<% officers.forEach(function(officer) { %>
		  	<div class="team-item col l3 m4 s12">
		  		<img src="<%= officer.image %>"/>
		  		<p class="name"><%= officer.name %></p>
		  		<p class="title"><%= officer.title %></p>
		  	</div>
	  	<% }); %>
	  </div>
  </div>
</div>
<% include ../partials/footer %>