<% include ../partials/header %>
<div class="content-wrapper">
<div class="container">
	<h1>New Blog Post</h1>
	<form id="new-blog-post-form">
	  <input placeholder="Title" id="post-title-input" type="text">
	  <textarea id="post-content-textarea" spellcheck="true"></textarea>
	  <br>
	  <button type="submit" class="btn btn-large materialize-red lighten-2 submit">SUBMIT <i class="material-icons right">send</i></button>
	</form>
</div>
</div>
<% include ../partials/footer %>