<% include ../partials/header %>
<h1>New Blog Post</h1>
<form id="new-blog-post-form">
  <input placeholder="Title" id="post-title-input" type="text">
  <textarea id="post-content-textarea" spellcheck="true"></textarea>
  <input type="submit">
</form>
<% include ../partials/footer %>