<% include ../partials/header %>
<div class="content-wrapper valign-wrapper" style="overflow: hidden; background: url(http://i.onionstatic.com/onion/5322/3/16x9/1600.jpg); background-position: right">
	<div style="width: 100%;" class="valign white-text" style="overflow: hidden">
		<h1 class="content-header center-align" style="width: 100%; font-size: 30vw; font-weight: 700">404</h1>
		<p style="font-size: 2em; font-weight: 300; text-align: center; padding-bottom: 8vh;">That page doesn't seem to exist.<br><a class="blue-text text-lighten-2" href="/">Back</a></p>
	</div>
</div>
<% include ../partials/footer %>