<% include ../partials/header %>
<div class="preloader-section valign-wrapper primary-color">
	<h1 class="center-align white-text loading-label animated fadeInDown" style="position: fixed;">MV JSA</h1>
	<div class="valign">
		<div class="preloader-wrapper big active center-align animated zoomIn">
		  <div class="spinner-layer">
		    <div class="circle-clipper left">
		      <div class="circle"></div>
		    </div><div class="gap-patch">
		      <div class="circle"></div>
		    </div><div class="circle-clipper right">
		      <div class="circle"></div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div id="section-splash" class="parallax-container">
	<div class="container">
		<h1 class="center-align bold white-text wow slideInDown">Learn. Interact. Debate.</h1>
		<h2 class="center-align light white-text wow slideInDown">Monta Vista Junior State of America</h3>
		<div class="row wow slideInUp">
			<div class="btn-wrapper col m4 offset-m2 s10 offset-s1">
			  <a href="/join" class="btn btn-large waves-effect waves-light red lighten-2">Join</a>
			</div>
			<div class="btn-wrapper col m4 s10 offset-s1">
			  <a href="#section-about" class="btn btn-large waves-effect waves-light blue lighten-2">Learn More</a>
			</div>
		</div>
	</div>
  <div class="parallax hide-on-small-only"><img src="/img/whitehouse.JPG"></div>
</div>

<div class="parallax-divider"></div>
<div id="section-about" class="section valign-wrapper parallax-container">
	<div class="valign row">
		<div class="card-panel col m6 s12 l4 wow slideInLeft">
			<h3 class="bold">Welcome to Monta Vista JSA!</h3>
			<p class="flow-text">
				 Our club is an official chapter of the national JSA organization, the largest student run club in the country. Join us for casual discussions on politics, current events, government, and more. Whether or not you're up to date on our nation's affairs, there's always something great you could learn and new people you could meet. Our goal is to make you aware of what's going on around you, and help you develop your own opinions and arguments. Drop by for a meeting and take part in our discussions for a great experience!
			</p>
		</div>
	</div>
	<div class="parallax hide-on-small-only"><img src="/img/capitol.JPG"></div>
</div>
<div class="parallax-divider"></div>
<div id="section-2" class="section valign-wrapper parallax-container">
	<div class="valign row container">
		<div class="col m6 s12">
			<div class="card-panel wow slideInLeft">
				<h3 class="bold">Speak</h3>
				<p class="flow-text">
					Develop your public speaking skills in a friendly environment by debating and discussing topics which directly influence your life.
				</p>
			</div>
		</div>
		<div class="col m6 s12">
			<div class="card-panel wow slideInRight">
				<h3 class="bold">Learn</h3>
				<p class="flow-text">
					Learn about government and politics by hearing other students' opinions on controversial topics, and explore your potential of pursuing a career in politics.
				</p>
			</div>
		</div>
		<div class="col m6 s12">
			<div class="card-panel wow slideInLeft">
				<h3 class="bold">Mingle</h3>
				<p class="flow-text">
					Find your passion by connecting and making friendships with students with similar interests.
				</p>
			</div>
		</div>
		<div class="col m6 s12">
			<div class="card-panel wow slideInRight">
				<h3 class="bold">Discover</h3>
				<p class="flow-text">
					Attend meetings and meet local politicians or attend a JSA summer program at a prestigious university such as Georgetown.
				</p>
			</div>
		</div>
	</div>
	<div class="parallax hide-on-small-only"><img src="/img/trump.jpg"></div>
</div>

<% include ../partials/footer %>
