<% include ../partials/header %>
<div id="login-center-wrapper" class="row valign-wrapper container content-wrapper">
  <div class="clearfix z-depth-2 col m8 offset-m2 s12 valign login-panel">
    <h1 class="content-header center-align">Login</h1>
    <form id="login-form" action="login" method="post" class="row">
      <div class="input-field col m12 s12 row">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
      </div>
      <div class="input-field col m12 s12 row">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </div>
      <div class="row">
        <button class="btn-flat btn-large red lighten-2 z-depth-0 waves-effect waves-light white-text col m10 offset-m1 s10 offset-s1" type="submit" id="submit" name="submit">LOGIN</button>
      </div>
    </form>
  </div>
</div>
<% include ../partials/footer %>