<% include ../partials/header %>
<div class="content-wrapper clearfix">
  <h1 class="content-header">Member Portal</h1>
  <p>This section is reserved for members of Monta Vista Website Development only. If you are a member of MV WebDev and have registered on this website via our online registration form <a href="join.php">here</a>, you may login using the form below. <strong>Your email is the one you registered with, and your password should be your student ID number</strong> (you can change this after logging in). If you have problems logging in, please email <a href="mailto:officers@mvwebdev.com">officers@mvwebdev.com</a>.</p>
  <h2>Login</h2>
  <form id="login-form" action="login" method="post">
    <div class="form-wrapper">
      <table class="form-table">
        <tr>
          <td><label for="email">Email: </label></td>
          <td><input type="text" id="email" name="email" /></td>
        </tr>
        <tr>
          <td><label for="password">Password: </label></td>
          <td><input type="password" id="password" name="password" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" id="submit" name="submit" value="Login" /></td>
        </tr>
         <tr>
          <td></td>
          <td><div id="form-alert"></div></td>
        </tr>
      </table>
    </div>
  </form>
</div>
<% include ../partials/footer %>